{{ define "partials/about" }}


<section id="about" class="container mx-auto px-6 py-12">
    <span class="rounded-full px-2.5 py-0.5 text-gray-400 uppercase text-xs font-semibold bg-gray-200 border border-gray-400">about</span>
    <h3>
        <div class="hack-effect text-xl font-bold">
          <span>G</span><span>e</span><span>t</span><span> </span><span>t</span><span>o</span><span> </span><span>k</span><span>n</span><span>o</span><span>w</span><span> </span><span>m</span><span>e</span><span>!</span>
        </div>
    </h3>
    <ul class="list-disc list-inside space-y-2">
        <li class="flex items-start">
            <span class="mr-2">•</span>
            <span>I'm 🔥 about programming and debugging code</span>
        </li>
        <li class="flex items-start">
            <span class="mr-2">•</span>
            <span>I have extensive experience in 🐍 and JavaScript.</span>
        </li>
        <li class="flex items-start">
            <span class="mr-2">•</span>
            <span>My favorite programming language is currently 🐹(Golang)</span>
        </li>
        <li class="flex items-start">
            <span class="mr-2">•</span>
            <span>I enjoy solving 🧩 through code</span>
        </li>
        <li class="flex items-start">
            <span class="mr-2">•</span>
            <span>I'm currently documenting my learning journey <a href="https://codecrusades.substack.com" class="text-red-600 hover:underline glitch-effect"><span>h</span><span>e</span><span>r</span><span>e</span></a></span>
        </li>
    </ul>
</section>

{{ end }}
